<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nova Tarefa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="showAdd()">
        <ion-label>Nova Categoria</ion-label>
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-select [(ngModel)]="tarefa.categoria" label="Categoria" placeholder="Categoria">
          <ion-select-option *ngFor="let categoria of categorias" [value]="categoria">{{categoria}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="text" [(ngModel)]="tarefa.tarefa" label="Descrição da Tarefa" labelPlacement="floating"
          placeholder="Descreva a tarefa"></ion-input>
      </ion-item>
      <ion-button (click)="salvar()">Salvar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>