<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Configurações</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- <ion-toggle [enableOnOffLabels]="true" [checked]="marcacaoSimples" (ionChange)="alternaMarcacao()">Marcação
      Simples</ion-toggle> -->

    <ion-button size="small" fill="clear" class="ion-margin-vertical" color="warning" (click)="concluirTodas()">Concluir
      Todas</ion-button>
    <ion-button size="small" fill="clear" class="ion-margin-vertical" color="danger"
      (click)="excluirTarefasFeitas()">Limpar Concluídas</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header [translucent]="true" mode="ios">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="animate__animated animate__lightSpeedInRight">
        Lista de Tarefas
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" mode="ios">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-list class="animate__animated animate__lightSpeedInLeft ion-margin-horizontal">
            <ion-item *ngIf="tarefaCollection.length < 1">
              <ion-label>Não há Tarefas</ion-label>
            </ion-item>
            <ion-item-sliding *ngFor="let item of tarefaCollection; let i = index">
              <ng-template [ngIf]="ocultaConcluidos == false" [ngIfElse]="loading">
                <ion-label>
                  <ion-item (click)="openActions(item)" *ngIf="item.feito == false">
                    <ion-icon slot="start" name="information-circle" color="warning"></ion-icon>
                    <h3>{{item.tarefa}}</h3>
                  </ion-item>

                  <ion-item (click)="openActions(item)" *ngIf="item.feito == true">
                    <ion-icon slot="start" name="checkmark-circle" color="success"></ion-icon>
                    <h3><del>{{item.tarefa}}</del></h3>
                  </ion-item>
                </ion-label>

                <ion-item-options>
                  <ion-item-option color="primary" (click)="atualizar(item)">
                    <ion-icon name="create"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="danger" (click)="excluir(item)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ng-template>

              <ng-template #loading>
                <ion-label>
                  <ion-item (click)="openActions(item)" *ngIf="item.feito == false">
                    <ion-icon slot="start" name="information-circle" color="warning"></ion-icon>
                    <h3>{{item.tarefa}}</h3>
                  </ion-item>
                </ion-label>

                <ion-item-options>
                  <ion-item-option color="primary" (click)="atualizar(item)">
                    <ion-icon name="create"></ion-icon>
                  </ion-item-option>
                  <ion-item-option color="danger" (click)="excluir(item)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-item-option>
                </ion-item-options>
              </ng-template>
            </ion-item-sliding>
          </ion-list>
          <ion-button class="ion-margin-vertical" color="warning" expand="block" *ngIf="ocultaConcluidos == false"
              (click)="alternaFeitos()">Esconder
              Concluídas</ion-button>
            <ion-button class="ion-margin-vertical" color="success" expand="block" *ngIf="ocultaConcluidos == true"
              (click)="alternaFeitos()">Reexibir
              Concluídas</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/novo'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-title class="animate__animated animate__lightSpeedInRight ion-text-center">
        <h3>V1.2.6</h3>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</div>